@font-face {
  font-family: "Gloria Hallelujah";
  src: url("../assets/fonts/GloriaHallelujah-Regular.ttf");
}
.primary-btn {
  font-family: "Gloria Hallelujah", sans-serif;
  font-weight: bold;
  border: 2px solid rgb(51, 51, 51);
  background-color: rgb(193, 82, 108);
  width: 6rem;
  height: 5rem;
  transition-duration: 500ms;
  transition-property: background-color;
  color: white;
}
.primary-btn:hover {
  background-color: #ac3e58;
}

.secondary-btn {
  font-family: "Gloria Hallelujah", sans-serif;
  font-weight: bold;
  border: 2px solid rgb(51, 51, 51);
  background-color: rgba(221, 154, 170, 0.6);
  width: 5.5rem;
  height: 5rem;
  transition-duration: 500ms;
  transition-property: background-color;
}
.secondary-btn:hover {
  background-color: rgba(207, 112, 135, 0.6);
}
.secondary-btn--delete {
  width: 20rem;
}

.teriary-btn {
  font-family: "Gloria Hallelujah", sans-serif;
  font-weight: bold;
  border: 2px solid rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
  width: 5.5rem;
  height: 5rem;
  transition-duration: 500ms;
  transition-property: background-color;
  margin-bottom: 0.5rem;
}
.teriary-btn:hover {
  background-color: #d9d9d9;
}

.hand-drawn-border-1 {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.hand-drawn-border-2 {
  border-radius: 255px 40px 225px 15px/35px 300px 15px 255px;
}
.hand-drawn-border-3 {
  border-radius: 210px 12px 200px 20px/10px 100px 12px 100px;
}
.hand-drawn-border-4 {
  border-radius: 230px 50px 200px 5px/10px 225px 10px 100px;
}
.hand-drawn-border-5 {
  border-radius: 200px 20px 200px 5px/20px 225px 25px 250px;
}
.hand-drawn-border-6 {
  border-radius: 230px 40px 200px 5px/10px 225px 25px 260px;
}

body {
  padding: 2%;
  font-size: 1.5rem;
  font-family: "Gloria Hallelujah", sans-serif;
}

main {
  position: absolute;
}

.calculator {
  border: 0.2rem solid black;
  width: 35rem;
  height: 42.5rem;
  padding: 2%;
  background-color: rgb(252, 235, 239);
}

.memory-popup {
  display: none;
  background-color: rgb(252, 235, 239);
  position: absolute;
  padding: 10px 20px;
  height: 200px;
  width: 300px;
  word-wrap: break-word;
  right: -365px;
  border: 2px solid rgb(51, 51, 51);
  font-size: 30px;
}

.input-screen-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.input-screen-section__history-btn {
  border: none;
  background-color: transparent;
  margin-left: auto;
  width: 3rem;
  height: 3rem;
}

.input-screen-section__input-screen {
  width: 100%;
  height: 3.75rem;
  align-self: center;
  border: 2px solid rgb(51, 51, 51);
  text-align: right;
  font-family: "Gloria Hallelujah", sans-serif;
  padding-right: 5px;
  font-size: 2.5rem;
}
.input-screen-section__input-screen::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-screen-section__input-screen:-moz-placeholder-shown {
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.input-screen-section__input-screen:placeholder-shown {
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.buttons-section {
  margin-top: 1rem;
  display: grid;
  grid-template-areas: "mcr-buttons mcr-buttons mcr-buttons mcr-buttons mcr-buttons" "control-buttons control-buttons control-buttons control-buttons control-buttons" "number-buttons number-buttons number-buttons math-buttons math-buttons" "number-buttons number-buttons number-buttons math-buttons math-buttons" "number-buttons number-buttons number-buttons math-buttons math-buttons" "number-buttons number-buttons number-buttons math-buttons math-buttons";
  gap: 0.5rem 3rem;
}

.mcr-buttons-section {
  grid-area: mcr-buttons;
}

.control-buttons-section {
  grid-area: control-buttons;
}

.number-buttons-section {
  grid-area: number-buttons;
}

.math-buttons-section {
  grid-area: math-buttons;
}/*# sourceMappingURL=styles.css.map */